.comment-container{
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 10px;
}
.comment-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.comment-content{
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 5px;
}
.account-name{
    font-size: 20px;
    margin-top: 2vh;
    margin-left: 10px;
}
.account-img{
    background-image: url('/account_circle.png');
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    float: left;
}