.title{
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
.newpostForm{
    display: flex;
    flex-direction: column;
}
.createBtn{
    border: .1px solid black;
    width: 100px;
}
.file-picker{
    margin-bottom: 4vh;
}
.img-preview{
    width: 300px;
    height: 200px;
}