.container {
    display: flex; 
    height: 100vh;
    align-items: center;
}
.account-img {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.left-section, .right-section {
    display:  flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* every section takes half of the space */
    padding: 20px;
}

.vertical-line {
    width: 1px; 
    background-color: rgb(255, 255, 255); 
    height: 100%; 
}

.image-picker{
    margin-bottom: 2vh;
}

mat-card img{
    width: 400px;
    height: 250px;
    object-fit: cover;
}
.newpostForm{
    display: flex;
    flex-direction: column;
}
.card-description{
    max-width: 370px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.card-title{
    font-size: 22px;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.username{
    font-size: 18px;
}

mat-icon{
    margin-left: 20px;
}
mat-icon:hover{
    color: #FFABF3;
    transform: translate(2.05px);
}
.likes, .dislikes{
    margin-left: 5px;
}