.container {
    display: flex; 
    height: 100vh;
    align-items: center;
}

.left-section, .right-section {
    display:  flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* every section takes half of the space */
    padding: 20px;
}

.vertical-line {
    width: 1px; 
    background-color: rgb(255, 255, 255); 
    height: 100%; 
}

.image-picker{
    margin-bottom: 2vh;
}

mat-card img{
    width: 400px;
    height: 250px;
    object-fit: cover;
}
.newpostForm{
    display: flex;
    flex-direction: column;
}
.card-description{
    max-width: 370px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}