.profile-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pro-pic{
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    object-fit: cover; 
    margin-top: 10px;
}
.edit-icon {
    position: absolute;
    margin-top: 15%;
    margin-left: 18%;
    transform: scale(1.3); 
    transition: transform 0.3s ease, color 0.3s ease; 
    cursor: pointer;
}

.edit-icon:hover {
    color: #FFABF3;
    transform: scale(1.5);
    background-color: rgb(147, 147, 147);
    border-radius: 50%;
}
.follow-button{
    width: 25%;;
}
.actions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}
.post-info, .follower-info, .following-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px; 
}
.posts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.posts{
    display: flex;
    flex-direction: row;
}
.profilePosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allows wrapping if needed */
    width: 100%; /* Ensures container takes the full width */
    margin-top: 15vh;
}
/* set style for posts */
::ng-deep .profilePosts > * {
    width: 30%;
    cursor: pointer;
    margin-left: 4.3vh;
    margin-bottom: 5vh;
}
/* set style for posts's images */
::ng-deep .profilePosts > * img{
    height: 50vh;
    object-fit: cover;
}

/*hide card bottom part*/
::ng-deep .profilePosts > * .card-footer{
    display: none;
}





/* .posts app-post {
    pointer-events: none; 
    opacity: 0.6;
    width: 33%; 
    max-width: 400px;
    height: 33%;
    max-height: 400px;
    padding: 10px;
    box-sizing: border-box;
} */
 