<div class="profile-header">
    <img src="{{accountName}}" alt="profile pic" class="pro-pic">
    <h2 class="account-name">Account name</h2>
</div>

<div class="info">
    <div class="post">
        <h4>Post</h4>
        <h4>0</h4>
    </div>
    <div class="follower">
        <h4>Follower</h4>
        <h4>0</h4>
    </div>
    <div class="following">
        <h4>Following</h4>
        <h4>0</h4>
    </div>
</div>

<div class="posts">
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
</div>