<div class="profile-header">
    <input type="file" (change)="onSelectedProfilePic($event)" #fileInput accept="image/*" style="display: none;">
    <img src="{{proPic}}" alt="profile pic" class="pro-pic">
    <mat-icon class="edit-icon" (click)="edit()">edit</mat-icon>
    <h2 class="account-name">{{accountName}}</h2>
</div>

<div class="info">
    <div class="post">
        <h4>Post</h4>
        <h4>0</h4>
    </div>
    <div class="follower">
        <h4>Follower</h4>
        <h4>0</h4>
    </div>
    <div class="following">
        <h4>Following</h4>
        <h4>0</h4>
    </div>
</div>
<div class="actions">
    <button mat-raised-button class="follow-button">Follow</button>
</div>



<div class="posts">
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
</div>