.post {
    margin-top: 50px;
    max-width: 500px;
}
.post-img{
    width: 498px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.account-img {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.card-description{
    max-width: 370px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.card-title{
    font-size: 30px;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.username{
    font-size: 18px;
}

mat-icon{
    margin-left: 20px;
}
mat-icon:hover{
    color: #FFABF3;
    transform: translate(2.05px);
}
.likes, .dislikes{
    margin-left: 5px;
}