.post{
    overflow: hidden;
}
.post-img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.account-img {
    background-image: url('/account_circle.png');
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.account-img:hover{
    transform: translate(2.05px);
}
.card-description{
    max-width: 370px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.card-title{
    font-size: 30px;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.username{
    font-size: 18px;
    color: purple;
}

.like-btn, .dislike-btn, .comment-btn{
    margin-left: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.like-btn:hover, .dislike-btn:hover, .comment-btn:hover{
    color: #FFABF3;
    transform: translate(2.05px);
}
.likes, .dislikes, .comments{
    margin-left: 5px;
    cursor: pointer;
}
mat-error{
    margin-top: 50px;
    color: red;
}