<mat-card class="post" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="account-img"></div>
      <mat-card-title class="card-title">{{title}}</mat-card-title>
      <mat-card-title class="username">{{accountName}}</mat-card-title>
      <mat-card-subtitle class="date">{{loadingDate}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{url}}" class="post-img" alt="Post's image">
    <mat-card-content>
      <p>
        {{description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a (click)="like()"><mat-icon>thumb_up</mat-icon></a>
      <p class="likes">0</p>
      <a (click)="dislike()"><mat-icon>thumb_down</mat-icon></a>
      <p class="dislikes">0</p>
    </mat-card-actions>
</mat-card>   