<mat-card class="post" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="account-img" [ngStyle]="{ 'background-image': accountImg ? 'url(' + accountImg + ')' : '' }"></div>
      <mat-card-title class="card-title">{{title}}</mat-card-title>
      <mat-card-title class="username">{{author}}</mat-card-title>
      <mat-card-subtitle class="date">{{loadingDate}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{url}}" class="post-img" alt="Post's image">
    <mat-card-content>
      <p>
        {{description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a (click)="handleReaction('like')" class="like-btn"><mat-icon>thumb_up</mat-icon></a>
      <p class="likes">{{likes}}</p>
      <mat-error *ngIf="!canLike">Sign up to like.</mat-error>
      <a (click)="handleReaction('dislike')" class="like-btn"><mat-icon>thumb_down</mat-icon></a>
      <p class="dislikes">{{dislikes}}</p>
      <mat-error *ngIf="!canDislike">Sign up to dislike.</mat-error>
      <a (click)="comment()" class="comment-btn"><mat-icon>comment</mat-icon></a>
      <p class="comments">0</p>
      <mat-error *ngIf="!canComment">Sign up to comment.</mat-error>
    </mat-card-actions>
</mat-card>   
<mat-error *ngIf="isAuthor">You can't like your own post.</mat-error>